# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv_linux/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


.venv_linux
.env
.venv
env.bak
venv.bak

# Celery и логи
celerybeat-schedule
celerybeat.pid
*.log

# IDE (VS Code, PyCharm)
.vscode/
.idea/
*.swp
*.swo

# Система
.DS_Store
Thumbs.db